:root {
    --main-text-color: #111518;
    --link-color: #3C677C;
    --link-visited-color: #497D97;
    --offwhite-hover-color: #F1F6F7;
    --footer-hover-color: #B5B2C2;
    --footer-color: #DADFF7;
    --navbar-color: #C8DBE4;

    --header-font: 'Roboto Serif', serif;
    --text-font: 'Source Sans Pro', sans-serif;
}

/* general styling */
html, body {
    height: 100%;
    margin: 0;
}

main {
    min-height: 100%;
}

.sectionHeader {
    font-family: var(--header-font);
    font-size: 2em;
    color: var(--main-text-color);
    margin-top: 10%;
    text-align: center;
}

.sectionText {
    font-family: var(--text-font);
    font-size: 1em;
}

.sectionLink {
    font-family: var(--text-font);
    font-size: 1em;
    color: var(--link-color);
    text-decoration: none;
    padding: 1em;
}

.sectionLink:hover {
    color: var(--offwhite-hover-color);
    background-color: var(--link-color);
    font-weight: bold;
    transition-property: color, background-color, font-weight;
    transition-duration: 1s;
}

.sectionLink:active {
    color: var(--link-color);
    background-color: var(--offwhite-hover-color);
} 

.sectionLink a:visited {
    color: var(--link-visited-color);
}

.cardsFlexBoxRow {
    display: flex;
    flex-wrap: nowrap;
}
.cardsFlexBoxColumn {
    display: flex;
    flex-wrap: wrap;
}