:root {
    --main-text-color: #111518;
    --link-color: #3C677C;
    --link-visited-color: #497D97;
    --offwhite-hover-color: #F1F6F7;
    --footer-hover-color: #B5B2C2;
    --footer-color: #DADFF7;
    --navbar-color: #C8DBE4;

    --header-font: 'Roboto Serif', serif;
    --text-font: 'Source Sans Pro', sans-serif;
}

#navbar {
    text-align: center;
    font-family: var(--header-font);
    font-size: 1em;
    z-index: 100;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #F3F5F7;
    position: sticky;
    top: 0;
    width: 100%;
}

#navbar li {
    display: inline;
    padding-right: 3%;
    padding-left: 2%;
    text-align: justify;
}

#navbar a {
    text-decoration: none;
    color: #284453;
    padding: 1em;
}

#navbar a:hover {
    color: var(--link-color);
    font-weight: bold;
    background-color: var(--navbar-color);
    transition-property: font-weight, color, background-color;
    transition-duration: 1s;
}

#navbar a:active {
    color: var(--navbar-color);
    background-color: var(--link-color);
    text-decoration: underline;
}

#navbar a:visited {
    color: #284453;
    text-decoration: none;
}

#navbar a:link {
    color: #284453;
    text-decoration: none;
}

#mobileNavbarIcon {
    width: 2em;
    padding: 2%;
    display: none;
}

#mobileNavbarTitle {
    display: none
}

@media only screen and (max-width: 768px) {
    #mobileNavbarIcon {
        margin-left: auto;
        margin-right: auto;
        display: inline;
    }

    #navbar ul {
        display: none;
    }
}