/* header */
#header {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

#headerImage {
    width: 35%;
}

#headerName {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.25em;
    font-weight: 900;
    color: #111518;
}

#headerBlurb {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    text-align: justify;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    color: #232C33;
}

/* about */
#about {
    text-align: center;
    padding: 5%;
    width: 50%;
    border-style: solid;
    border-color: #232C33;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
}

#aboutBlurb {
    width: 60%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

#aboutHeader {
    margin-top: -1%;
}

/* activities */
#activities {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: justify;
    margin-bottom: 10%;
}

#activitiesSections {
    flex-grow: 1;
    width: 30%;
    font-family: 'Roboto Serif', serif;
    color: #111518;
}

.activitiesInfo {
    flex-grow: 2;
    width: 70%;
    font-family: 'Source Sans Pro', sans-serif;
    border-left: 1px solid #111518;
}

#activitiesACM {
    padding: 5%;
    font-size: 1.5em;
    font-weight: bolder;
}

.activitiesTitle {
    font-family: 'Roboto Serif', serif;
    color: #111518;
    font-size: 1.3em;
}

.activitiesYear {
    padding: 5%;
    font-size: 1.2em;
}

.activitiesYear:hover {
    background-color: #3C677C;
    color: #F1F6F7;
    transition-property: background-color, color;
    transition-duration: 1s;
}

.activitiesYear:active {
    background-color: #F1F6F7;
    transition-property: background-color;
    transition-duration: 1s;
}

.yearLink:link {
    text-decoration: none;
    color: #3C677C;
    width: 100%;
}

.yearLink:hover {
    color: #F1F6F7;
    transition-property: color;
    transition-duration: 1s;
}

.yearLink:active {
    color: #3C677C;
    transition-property: color;
    transition-duration: 1s;
}

.yearLink:visited {
    color: #3C677C;
    text-decoration: none;
}

.activitiesYearSection {
    padding-bottom: 5%;
    padding-left: 5%;
}

/* projects */
#projects {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: justify;
}

#projectsSections {
    flex-grow: 1;
    width: 30%;
    font-family: 'Roboto Serif', serif;
    color: #111518;
}

.projectType {
    padding: 5%;
    font-size: 1.5em;
    font-weight: bolder;
}

.projectsInfo {
    flex-grow: 2;
    width: 70%;
    font-family: 'Source Sans Pro', sans-serif;
    border-left: 1px solid #111518;
}

.projectName {
    padding: 5%;
    font-size: 1.2em;
}

.projectName:hover {
    background-color: #3C677C;
    color: #F1F6F7;
    transition-property: background-color, color;
    transition-duration: 1s;
}

.projectName:active {
    background-color: #F1F6F7;
    transition-property: background-color;
    transition-duration: 1s;
}

.projectsLink:link {
    text-decoration: none;
    color: #3C677C;
    width: 100%;
}

.projectsLink:hover {
    color: #F1F6F7;
    transition-property: color;
    transition-duration: 1s;
}

.projectsLink:active {
    color: #3C677C;
    transition-property: color;
    transition-duration: 1s;
}

.projectsLink:visited {
    color: #3C677C;
    text-decoration: none;
}

.projectTitle {
    font-family: 'Roboto Serif', serif;
    color: #111518;
    font-size: 1.3em;
}

.projectsInfoSection {
    padding-bottom: 5%;
    padding-left: 5%;
}

/* technologies */
#technologiesBox {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.technologiesSection {
    width: 100%;
    display: flex;
    padding: 5%;
}

.technologiesName {
    font-family: 'Roboto Serif', serif;
    color: #111518;
    font-size: 1.3em;
}

.technologiesText p {
    font-family: 'Source Sans Pro', sans-serif;
}

.technologiesImage {
    width: 40%;
    padding: 5%;
}

/* contact */
#footer {
    background-color: #DADFF7;
    text-align: center;
    height: 10em;
    box-shadow: 0 50vh 0 50vh #DADFF7;
}

#contact {
    padding-top: 3%;
}

.contactLink {
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
}

.contactImage {
    width: 3em;
    padding: 2%;
}

.contactImage:hover {
    background-color: #B5B2C2;
    transition-property: background-color;
    transition-duration: 1s;
}


/* scroll anchors to account for sticky header */
#about {
    scroll-margin-top: 10em;
}

#activities, #projects, #technologies, #yearOne, #yearTwo, #yearThree, #yearFour, #microsoft, #redbeanpress, #boolletJournal {
    scroll-margin-top: 7em;
}

@media only screen and (max-width: 768px) {
    #headerImage {
        width: 25em;
        margin-top: 10%;
    }

    #about, #activities, #projects, #technologies, #navbar {
        margin-bottom: 10em;
    }

    #aboutBlurb, #headerBlurb {
        width: 80%;
    }

    .cardsFlexBoxRow {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #activitiesSections, #projectsSections {
        flex-basis: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #111518;
    }

    #activitiesACM {
        flex-basis: 100%;
        text-align: center;
    }

    .yearLink {
        flex: 1;
        flex-basis: 25%;
        font-size: 1em;
        margin-top: -10%;
    }

    .activitiesInfo, .projectsInfo {
        border: none;
        margin-left: auto;
        margin-right: auto;
    }

    .projectType {
        display: none;
    }

    .projectsLink {
        flex: 1;
        flex-basis: 25%;
        font-size: 1em;
        margin-top: -10%;
        padding: 2%;
        text-align: center;
    }

    .technologiesSection {
        display: flex;
        flex-wrap: wrap;
    }

    .technologiesImage {
        width: 100%;
    }
}