/* custom variables for theme font and colors */
:root {
    --main-text-color: #111518;
    --link-color: #3C677C;
    --link-visited-color: #497D97;
    --offwhite-hover-color: #F1F6F7;
    --footer-hover-color: #B5B2C2;
    --footer-color: #DADFF7;
    --navbar-color: #C8DBE4;

    --site-name-font: 'Cormorant Garamond', serif;
    --header-font: 'Roboto Serif', serif;
    --text-font: 'Source Sans Pro', sans-serif;
}

/* general styling */
html, body {
    height: 100%;
    margin: 0;
}

main {
    min-height: 100%;
}

.sectionHeader {
    font-family: var(--header-font);
    font-size: 2em;
    color: var(--main-text-color);
    margin-top: 10%;
    text-align: center;
}

.sectionText {
    font-family: var(--text-font);
    font-size: 1em;
}

.sectionLink {
    font-family: var(--text-font);
    font-size: 1em;
    color: var(--link-color);
    text-decoration: none;
    padding: 1em;
}

.sectionLink:hover {
    color: var(--offwhite-hover-color);
    background-color: var(--link-color);
    font-weight: bold;
    transition-property: color, background-color, font-weight;
    transition-duration: 1s;
}

.sectionLink:active {
    color: var(--link-color);
    background-color: var(--offwhite-hover-color);
} 

.sectionLink a:visited {
    color: var(--link-visited-color);
}

.cardsFlexBoxRow {
    display: flex;
    flex-wrap: nowrap;
}
.cardsFlexBoxColumn {
    display: flex;
    flex-wrap: wrap;
}

/* navbar */
#navbar {
    text-align: center;
    font-family: var(--header-font);
    font-size: 1em;
    z-index: 100;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #F3F5F7;
    position: sticky;
    top: 0;
    width: 100%;
}

#navbar li {
    display: inline;
    padding-right: 3%;
    padding-left: 2%;
    text-align: justify;
}

#navbar a {
    text-decoration: none;
    color: #284453;
    padding: 1em;
}

#navbar a:hover {
    color: var(--link-color);
    font-weight: bold;
    background-color: var(--navbar-color);
    transition-property: font-weight, color, background-color;
    transition-duration: 1s;
}

#navbar a:active {
    color: var(--navbar-color);
    background-color: var(--link-color);
    text-decoration: underline;
}

#navbar a:visited {
    color: #284453;
    text-decoration: none;
}

#navbar a:link {
    color: #284453;
    text-decoration: none;
}

#mobileNavbarIcon {
    width: 2em;
    padding: 2%;
    display: none;
}

#mobileNavbarTitle {
    display: none
}

/* header */
#header {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

#headerImage {
    width: 35%;
}

#headerName {
    font-family: var(--site-name-font);
    font-size: 2.25em;
    font-weight: 900;
    color: var(--main-text-color);
}

#headerBlurb {
    font-family: var(--text-font);
    font-size: 1em;
    text-align: justify;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    color: var(--main-text-color);
}

/* about */
#about {
    text-align: center;
    padding: 5%;
    width: 50%;
    border-style: solid;
    border-color: #232C33;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
}

#aboutBlurb {
    width: 60%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

#aboutHeader {
    margin-top: -1%;
}

/* activities */
#activities {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: justify;
    margin-bottom: 10%;
}

#activitiesSections {
    flex-grow: 1;
    width: 30%;
    font-family: var(--header-font);
    color: var(--main-text-color);
}

.activitiesInfo {
    flex-grow: 2;
    width: 70%;
    font-family: var(--text-font);
    border-left: 1px solid var(--main-text-color);
}

#activitiesACM {
    padding: 5%;
    font-size: 1.5em;
    font-weight: bolder;
}

.activitiesTitle {
    font-family: 'Roboto Serif', serif;
    color: var(--main-text-color);
    font-size: 1.3em;
}

.activitiesYear {
    padding: 5%;
    font-size: 1.2em;
}

.activitiesYear:hover {
    background-color: var(--link-color);
    color: var(--offwhite-hover-color);
    transition-property: background-color, color;
    transition-duration: 1s;
}

.activitiesYear:active {
    background-color: var(--offwhite-hover-color);
    transition-property: background-color;
    transition-duration: 1s;
}

.yearLink:link {
    text-decoration: none;
    color: var(--link-color);
    width: 100%;
}

.yearLink:hover {
    color: var(--offwhite-hover-color);
    transition-property: color;
    transition-duration: 1s;
}

.yearLink:active {
    color: var(--link-color);
    transition-property: color;
    transition-duration: 1s;
}

.yearLink:visited {
    color: var(--link-color);
    text-decoration: none;
}

.activitiesYearSection {
    padding-bottom: 5%;
    padding-left: 5%;
}

/* projects */
#projects {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: justify;
}

#projectsSections {
    flex-grow: 1;
    width: 30%;
    font-family: var(--header-font);
    color: var(--main-text-color);
}

.projectType {
    padding: 5%;
    font-size: 1.5em;
    font-weight: bolder;
}

.projectsInfo {
    flex-grow: 2;
    width: 70%;
    font-family: var(--text-font);
    border-left: 1px solid var(--main-text-color);
}

.projectName {
    padding: 5%;
    font-size: 1.2em;
}

.projectName:hover {
    background-color: var(--link-color);
    color: var(--offwhite-hover-color);
    transition-property: background-color, color;
    transition-duration: 1s;
}

.projectName:active {
    background-color: var(--offwhite-hover-color);
    transition-property: background-color;
    transition-duration: 1s;
}

.projectsLink:link {
    text-decoration: none;
    color: var(--link-color);
    width: 100%;
}

.projectsLink:hover {
    color: var(--offwhite-hover-color);
    transition-property: color;
    transition-duration: 1s;
}

.projectsLink:active {
    color: var(--link-color);
    transition-property: color;
    transition-duration: 1s;
}

.projectsLink:visited {
    color: var(--link-color);
    text-decoration: none;
}

.projectTitle {
    font-family: var(--header-font);
    color: var(--main-text-color);
    font-size: 1.3em;
}

.projectsInfoSection {
    padding-bottom: 5%;
    padding-left: 5%;
}

/* technologies */
#technologiesBox {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.technologiesSection {
    width: 100%;
    display: flex;
    padding: 5%;
}

.technologiesName {
    font-family: var(--header-font);
    color: var(--main-text-color);
    font-size: 1.3em;
}

.technologiesText p {
    font-family: var(--text-font);
}

.technologiesImage {
    width: 40%;
    padding: 5%;
}

/* contact */
#footer {
    background-color: var(--footer-color);
    text-align: center;
    height: 10em;
    box-shadow: 0 50vh 0 50vh var(--footer-color);
}

#contact {
    padding-top: 3%;
}

.contactLink {
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
}

.contactImage {
    width: 3em;
    padding: 2%;
}

.contactImage:hover {
    background-color: var(--footer-hover-color);
    transition-property: background-color;
    transition-duration: 1s;
}


/* scroll anchors to account for sticky header */
#about {
    scroll-margin-top: 10em;
}

#activities, #projects, #technologies, #yearOne, #yearTwo, #yearThree, #yearFour, #microsoft, #redbeanpress, #boolletJournal {
    scroll-margin-top: 7em;
}

/* responsive design: small screen */
@media only screen and (max-width: 668px) {
    #mobileNavbarIcon {
        margin-left: auto;
        margin-right: auto;
        display: inline;
    }

    #navbar ul {
        display: none;
    }

    #headerImage {
        width: 25em;
        margin-top: 10%;
    }

    #about, #activities, #projects, #technologies, #navbar {
        margin-bottom: 10em;
    }

    #aboutBlurb, #headerBlurb {
        width: 80%;
    }

    .cardsFlexBoxRow {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #activitiesSections, #projectsSections {
        flex-basis: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid var(--main-text-color);
    }

    #activitiesACM {
        flex-basis: 100%;
        text-align: center;
    }

    .yearLink {
        flex: 1;
        flex-basis: 25%;
        font-size: 1em;
        margin-top: -10%;
    }

    .activitiesInfo, .projectsInfo {
        border: none;
        margin-left: auto;
        margin-right: auto;
    }

    .projectType {
        display: none;
    }

    .projectsLink {
        flex: 1;
        flex-basis: 25%;
        font-size: 1em;
        margin-top: -10%;
        padding: 2%;
        text-align: center;
    }

    .technologiesSection {
        display: flex;
        flex-wrap: wrap;
    }

    .technologiesImage {
        width: 100%;
    }
}

/* responsive design: restrictive screen */
@media only screen and (max-width: 992px) and (min-width: 669px) {
    #navbar li {
        padding: 1%;
    }

    #headerImage {
        width: 25em;
        margin-top: 5%;
    }

    #about, #activities, #projects, #technologies, #navbar {
        margin-bottom: 20em;
    }

    #headerBlurb {
        width: 50%;
        margin-bottom: 5%;
    }

    #aboutBlurb {
        width: 60%;
    }

    .technologiesSection {
        display: flex;
        flex-wrap: wrap;
    }

    .technologiesImage {
        width: 100%;
    }
}

/* responsive design: desktop screens */
@media only screen and (min-width: 1500px) {
    #navbar li {
        font-size: 1.5em;
        padding: 1%;
    }

    #about, #activities, #projects, #technologies {
        margin-top: 20%;
    }

    #headerName {
        font-size: 3.5em;
    }

    .sectionHeader {
        font-size: 3em;
    }

    h3, h4 {
        font-size: 2em;
    }
}